.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.top_margin {
/*    border: 1px solid black;*/
    margin-top: 30px;
/*    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;*/
}

.top_margin_par {
    margin-top: 100px;
}

.bottom_margin {
   margin-bottom: 100px;
}

.sides_margin {
   margin-left: 200px;
   margin-right: 200px;
}

.all_margins {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.border{
    /*border: 1px solid black;*/
    border-style: solid;
    border-width: 2px 10px 4px 20px;
    border-radius: 5px;
    border-color: teal;
}

@media only screen and (max-width: 600px) {
    .breadcrumb {
       display: none !important;
   }
}

@media only screen and (max-width: 600px) {
    .breadcrumb_back {
       display: none !important;
   }
}

.justify{
    text-align: justify;
}

#clip {
  position: absolute;
  clip: rect(0, 150px, 150px, 0);
  max-height: 250px;
  max-width: 250px;
  /*margin: 10px;*/
}


.sec_padding{
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 200px;
}


.txt-shadow{
  text-shadow: 0px 0px 150px black;
}

.mini-txt-shadow{
  text-shadow: 0px 0px 60px black;
}
/* img {
  filter: grayscale(0.2) blur(1px);
}*/

