.juda {
    width: 50px;
    height: 50px;
    background: transparent;
    font-weight: bold;
    font-family: 'Abril Fatface', cursive;
    position: relative;
    -webkit-animation: mymove 5s; /* Safari 4.0 - 8.0 */
    animation: mymove 5s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
}

/* Standard syntax */
@keyframes mymove {
    from {left: 0px;}
    to {left: 500px;}
}


/* Safari 4.0 - 8.0 */
#div1 {-webkit-animation-timing-function: linear;}
#div2 {-webkit-animation-timing-function: ease;}
#div3 {-webkit-animation-timing-function: ease-in;}
#div4 {-webkit-animation-timing-function: ease-out;}
#div5 {-webkit-animation-timing-function: ease-in-out;}
#div6 {-webkit-animation-timing-function: linear;}
#div7 {-webkit-animation-timing-function: ease;}
#div8 {-webkit-animation-timing-function: ease-in;}

/* Standard syntax */
#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}
#div6 {animation-timing-function: linear;}
#div7 {animation-timing-function: ease;}
#div8 {animation-timing-function: ease-in;}

.font {
/*font-family: 'Abril Fatface', cursive;
font-family: 'Alfa Slab One', cursive;*/
font-family: 'Audiowide', cursive;
font-size: 50px;
color: black;
text-align:center;
}